<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Language in word</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tourney&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style/style.css">
  <link rel="stylesheet" href="style/exercise-style.css">
  <link rel="stylesheet" href="./fonts/fonts.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
  <div id="app">
  <header>
    <nav class="header__nav container">
      <img class="logo" src="./img/logo.svg" alt="logo">
      <div class="drop-down-inner">
      <ul class="nav__items">
        <li class="nav__items__list">
         <span class="nav-item"> 
          <a href="#" class="list__link" @click="goExercise"> Практикум</a>
            <img class="drop-down" src="./img/drop-down-btn.svg" alt="drop-down-btn">
        </span>
        </li>
        <!-- /1 element nav-bar -->
        <li class="nav__items__list">
        <span class="nav-item">
           <a href="#" class="list__link"> Уроки</a>
           <img class="drop-down" src="./img/drop-down-btn.svg" alt="drop-down-btn">
        </span>
        </li>
        <!-- /2 element nav-bar -->
        <li class="nav__items__list">
          <span class="nav-item">
          <a href="#" class="list__link">Правила</a>
          </span>
        </li>
        <!-- /3 element nav-bar -->
      </ul>
     
    <!-- Ссылки на тренажеры или разную хуету 
    Здесь еще надо ебануть выпадающие списки через after-->

    <ul class="nav__items auth">
      <template v-if="user.token == ''">
        <li class="nav__items__list">
          <a class="list__link" @click="goLogin">Вход</a>
        </li>
        <!-- /auth-btn -->
        <li class="nav__items__list">
          <a class="list__link" @click="goAuth">Регистрация</a>
        </li>
        <!-- /reg-btn -->
      </template>
      <template v-else>
        <li class="nav__items__list">
          <a class="list__link" @click="logout">Выход</a>
        </li>
        <!-- /logout-btn -->
      </template>
    </ul>
    </div>
    <!-- Типы две кнопки на вход и регистрацию
    Здесь еще надо ебануть выпадающие списки через after -->
    </nav>
  </header>
  <!-- /header ne do konca -->

  <div class="modal-window active " v-if="modal != ''" @click = "exitModal">
    <form class="auth__container " v-show="modal == 'auth' || modal == 'login'" action="" method="post">
      <h4 class="auth__title auth_text">
        {{modal=='auth'?'Авторизация':'Вход в систему'}}
      </h4>
      <template v-if="modal == 'auth'">
        <p class="auth_slogan auth_text">
          Давайте станем лучше вместе!
        </p>
        <div class="reg-form">
          <p class="reg-form-label ">
            Имя
          </p>
          <div class="auth_input">
            <input type="text" class="email auth_field " v-model="authData.last_name" required>
          </div>
          <p class="reg-form-label ">
            Фамилия
          </p>
          <div class="auth_input">
            <input type="text" class="email auth_field " v-model="authData.first_name" required>
          </div>
          <p class="reg-form-label " >
            Отчество
          </p>
          <div class="auth_input">
            <input type="text" class="email auth_field " v-model="authData.patronymic" required>
          </div>
        </div>
      </template>
      <p class="reg-form-label " >
        E-mail
      </p>
      <div class="auth_input">
          <input type="email" class="email auth_field " value="E-mail" v-model="loginData.email" required>
      </div>
        <!-- /email -->

      <p class="reg-form-label">
          Password
      </p>
      <div class="auth_input">
          <input type="password" class="password auth_field" v-model="loginData.password" required>
      </div>
        <!-- /password -->
      <button v-if="modal == 'login'" class="btn-auth-submit btn-active" @click="login"> Войти</button>
      <button v-else class="btn-auth-submit btn-active" @click="auth"> Зарегестрироваться</button>
      <p class="auth-links" v-if="modal=='login'">
          Нет аккаунта? 
          <a @click="goAuth" class="auth-links reg">Зарегестрироваться</a>
          <a href="#" class="auth-links for">Забыл пароль?</a> 
      </p>
      <p class="auth-links" v-else>
        Уже есть аккаунт?
        <a @click="goLogin" class="auth-links reg">Войти в систему</a>
      </p>
    </form>
</div>
<!-- Верстка главной страницы -->
<template v-if="page == 'main'">
  <main class="main">
      <section class="content container">
        <img src="./img/world.svg" alt="world" class="content__img">
        <span class="content__text name">enguage</span>
        <span class="content__text slogan"> in word</span>
        <span class="content__text description">
               Учитесь и<br> 
           пополняйте свой<br>
            словарьный запас<br>
            английский слов в <br>
              нашем онлайн<br>
                тренажере
          </span>

         <span class="start-btn">
            <a href="#" class="start-btn__link">Начать учиться</a>
         </span> 
      </section>
      <!-- /content -->
  </main>
    <section class="about-right container">
      <div class="about-right ">
        <div class="about__text">
          <h2 class="about__text__header">ТРЕНАЖЕРЫ ДЛЯ ИЗУЧЕНИЯ СЛОВ</h2>
          <span class="about__text_description">
            Мы выбрали одно направление — Английский язык — и сделали самые подробные тренажёры о языке. Одну тысячу пятьсот слов в среднем изучают за три месяца.
          </span>
        </div>
          <img src="./img/English.png" alt="British_flag" class="r-img">
      </div>
    </section>
    <!-- /about 1-st block -->
    <div class="video-container container">
      <video class="video__item" controls loop muted autoplay>
        <source src="https://firebasestorage.googleapis.com/v0/b/learning-project-87d6c.appspot.com/o/Good%20Morning%20Vietnam%20_Fortunate%20Son_.mp4?alt=media&token=4aca16d9-a9f0-4eb7-a63c-2b9b4563152a" type="">
      </video>
    </div>
      <!-- /video -->
    <section class="about container">
      <div class="about-left">
        <div class="about__text">
          <h2 class="about__text__header">ПЕРВЫЕ 500 СЛОВ БЕСПЛАТНО</h2>
          <span class="about__text_description">
             Пять сот слов — бесплатные. После их прохождения вы сможете купить подписку и продолжить развиваться.
          </span>
        </div>
        <img src="./img/words.jpg" alt="words" class="l-img">
      </div>
      <!-- /about 2st block -->
      <div class="about-right">
        <div class="about__text">
          <h2 class="about__text__header">УЧИТЬСЯ ВЕСЕЛО</h2>
          <span class="about__text_description">
            Мы выбрали одно направление — Английский язык — и сделали самые подробные тренажёры о языке. Одну тысячу пятьсот слов в среднем изучают за три месяца.
          </span>
        </div>
        <img src="./img/learn.jpg" alt="learn" class="r-img learn" >
      </div>
      <!-- /about 3st block -->
    </section>
    <!-- /about -->

    <section class="info ">
      <div class="info__container container">
      <div class="info__block">
        <img src="./img/puzzle.png" alt="puzzle" class="puzzle">
        <p class="info__block_cnt">100000000</p>
        <p class="info__block_text">Выполненных задач</p>
      </div>

      <div class="info__block">
      <img src="./img/uesr-boy.png" alt="uesr-boy" class="users">
      <img src="./img/uesr-girl.png" alt="uesr-girl" class="users">
      <p class="info__block_cnt">100000000</p>
      <p class="info__block_text">Пользователей</p>
      </div>

      <div class="info__block">
      <img src="./img/nice.svg" alt="nice" class="nice">
      <p class="info__block_cnt">100000000</p>
      <p class="info__block_text">Изученных</p>
      </div>
     </div>
    </section>
    <!-- /Yspex -->

    <section class="feedback">
      <div class="feedback__container container">
        <h3 class="feedback__container-header">
          Что думают о нас
        </h3>
        <div class="feedback__container-item">
          <span class="feedback-item">
          <h4 class="feedback-item-header">
            Тема отзыва
          </h4>
          <p class="feedback-item-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatt non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
          </span>
          <div class="user_img-container">
            <img class="user_img" src="./img/avatar.jpg" alt="">
          </div>
        </div>

          <div class="feedback__container-item">
            <span class="feedback-item">
              <h4 class="feedback-item-header">
                Тема отзыва
              </h4>
              <p class="feedback-item-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
              </p>
            </span>
            <div class="user_img-container">
              <img class="user_img" src="./img/avatar.jpg" alt="">
            </div>
          </div>

            <div class="feedback__container-item">
              <span class="feedback-item">
                <h4 class="feedback-item-header">
                  Тема отзыва
                </h4>
                <p class="feedback-item-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                  occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </p>
              </span>
              <div class="user_img-container">
                <img class="user_img" src="./img/avatar.jpg" alt="">
              </div>
          </div>
          <div class="hero__dots">
            <span class="hero__dot active"></span>
            <span class="hero__dot"></span>
            <span class="hero__dot"></span>
          </div>
      </div>
    </section>
    <!-- /feedback -->
</template>
<!-- Верстка страницы тренажеров -->
  <template v-else-if="page == 'exercise'">
  <!-- /header ne do konca -->
  <main>
    <section class="train-content container">
       <div class="word_img_container"> <img src="../../img/w1.jpg" alt="word-image" class="word-img">
       </div>
       
        <button class="btn btn-reset">Сбросить прогресс</button>
        
        <button class="btn"><img src="../../img/speaker.png" alt="speaker" width="20px"></button>
         <span class="word">{{currentWords.correctAnswer[currentWords.lang]}}</span>

         <!-- Варианты -->
          <div class="btn btn-rad" v-for="item in currentWords.answers">
            <input type="radio" id="contactChoice1" name="contact" value="item[getOppositeLang()]" />
            <label for="contactChoice1">{{item[getOppositeLang()]}}</label>
          </div>

           <button class="btn btn-next">Следующее слово</button>
    </section>
  </main>
  </template>
    <footer class="footer">
      <div class="footer__container container">
        <div class="footer__container_logo">
        <img src="./img/footer__logo.svg" alt="footer__logo" class="footer__logo">
        <div class="social-club">
           <a href="#" class="social-club-item "> <img class="vk" src="./img/vk.png" alt=""></a>
           <a href="" class="social-club-item "><img src="./img/telega.png" alt=""> </a>
        </div>
       </div>
       <!-- /footer__container_logo -->
      <div class="footer__link__container">
       <div class="footer__link">
          <p class="footer__link_header">
            Практикум
          </p>
          <ul class="link">
            <li class="link-item"><a href="">Раздел №1</a></li>
            <li class="link-item"><a href="">Раздел №2</a></li>
            <li class="link-item"><a href="">Раздел №3</a></li>
          </ul>
       </div>
              <!-- /1column -->
        <div class="footer__link">
          <p class="footer__link_header">
            Уроки
          </p>
          <ul class="link">
            <li class="link-item"><a href="">Раздел №1</a></li>
            <li class="link-item"><a href="">Раздел №2</a></li>
            <li class="link-item"><a href="">Раздел №3</a></li>
          </ul>
        </div>
            <!-- /2column -->
      </div>
        <div class="subscribe__container">
            <p class="subscribe__header">
              Получать новости и рассылки.
            </p>
            <input type="text" value="Email address" class="email-box">
            <div class="btn-submit">
              <p class="submit_text"> Подписаться </p>
            </div>
        </div>
      </div>
      <section class="copyright__container">
        <div class="copyright_content container">
          <div class="text">
         <p class="copyright">© 2020
          <p  class="copyright-title">enguage <br>in word</p>    
         </p>
        </div>
         <span class="info-content">Создано с приколом by 
          <a class="author" href="https://github.com/KoJlJlaPs">KoJlJlaPs</a> and 
          <a class="author" href="https://github.com/RomanDMWB">RomanDMWB</a>
        </span>
      </div>
      </section>
    </footer>
    </div>
    <script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script>
    <script src="script/app.js"></script>
</body>
</html>