* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding:0;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.header__nav {
  display: flex;
  align-items: center;
}
.logo{
  margin: 15px 50px 15px 29px;
}
.nav__items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: right;
}

.drop-down-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.drop-down{
  margin-right: 20px;
}
.nav__items_list {
  cursor: pointer;
}
.list__link {
  text-decoration: none;
  color: black;
}
.auth:last-child .list__link{
  margin-right: 20px;
}
.nav__items:last-child{
  margin:0;
  margin-right: 25px;
}
/* /style nav*/

.main{
  background: url(./img/bg.jpg) no-repeat ;
  background-size: cover;
}
.content{
  text-align:center;
}
.content__img{
  margin-bottom: 25px;
}
.content__text{
  display: block;
}

.name{
  margin: 0;
  font-family: 'Unkempt', cursive;
  font-size: 98px;
  line-height: 0.70em;
}
.slogan{
  margin-bottom: 45px;
  font-family: 'Tourney', cursive;
  font-size: 60px;
}
.description{
  margin-bottom: 40px;
  font-family: 'PT Serif Caption', serif;
  font-size: 36px;
}
.start-btn{
  display: inline-block;
  padding:18px 40px;
  background-color:#3996EC;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 25px;
}
.start-btn__link{
  text-decoration: none;
  color:#fff;
  font-family: 'PT Serif Caption', serif;
  font-size: 24px;
}
/* /content */

.about{
  display: flex;
  justify-content: end;
  align-items: center;
}

.about__text__header{
  text-transform: capitalize;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 22px;
  font-weight: bold;
  font-family: 'TT-Norms-Pro-Bold',sans-serif;
  font-size: 36px;
}
.about__text_description{
  display: inline-block;
  white-space: wrap;
  max-width: 675px;
  font-family: 'TT-Norms-Pro-Regular', sans-serif;
  font-size: 25px;
}
.eng{
  margin: 77px 50px 85px 60px ;
  max-width: 285px;
  max-height: 285px;
}