* {
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  margin: 15px 50px 15px 29px;
}

.nav__items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

}

.drop-down-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.drop-down {
  margin-right: 20px;
}

.nav__items_list {
  cursor: pointer;
}

.list__link {
  text-decoration: none;
  color: black;
}

.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%
}

.train-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-img {
  max-height: 300px;
  margin-bottom: 30px;
}

.btn {
  width: 286px;
  height: 40px;
  border-radius: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  background-color: #Fff;
}

.btn-rad {
  display: flex;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

.word {
  margin-bottom: 15px;
}

.btn-reset {

  background-color: #FEC4C4;
}

.btn-next {
  background-color: #E6FEE2;
}

.copyright__container {
  background-color: #ABABFA;
  padding: 7px 0;
  font-family: 'Inter';
  font-size: 14px;

}

.copyright_content {
  display: flex;
  justify-content: space-between;
}

.copyright-title {
  margin-left: 14px;
  line-height: 10px;
}

.text {
  display: flex;
}

.author {
  text-decoration: none;
  color: white;
}

/* /style nav*/